<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<a th:href="@{/}" id="main">Main page >></a><br/>
<h1 class="head-title">Order your taco creations!</h1>
<img th:src="@{/images/TacoCloud.png}" alt="No source"/>
<h3>Your tacos in the order:</h3>
<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
    <ul>
        <li th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">taco name</span>
        </li>
    </ul>
    <a th:href="@{/design}" id="another_taco">Design another taco >></a><br/>
    <h3>Deliver my taco masterpieces to:</h3>
    <div class="form-container">
        <div class="input-form">
            <label>
                Name:
                <input type="text" th:field="*{delivery.fullName}">
            </label>
        </div>
        <div class="input-form">
            <label>
                Street address:
                <input type="text" th:field="*{delivery.street}">
            </label>
        </div>
        <div class="input-form">
            <label>
                City:
                <input type="text" th:field="*{delivery.city}">
            </label>
        </div>
        <div class="input-form">
            <label>
                State:
                <input type="text" th:field="*{delivery.state}">
            </label>
        </div>
        <div class="input-form">
            <label>
                Zip Code:
                <input type="text" th:field="*{delivery.zip}">
            </label>
        </div>
        <h3>Here's how I'll pay:</h3>
        <div class="input-form">
            <label>
                CC Number:
                <input type="text" th:field="*{payment.ccNumber}">
            </label>
        </div>
        <div class="input-form">
            <label>
                CC Expiration:
                <input type="text" th:field="*{payment.ccExpiration}">
            </label>
        </div>
        <div class="input-form">
            <label>
                CC CVV:
                <input type="text" th:field="*{payment.ccCVV}">
            </label>
        </div>
    </div>
    <input type="submit" value="Submit Order!"/>
</form>
</body>
</html>